
@{
    Layout = null;
    string Currency = "$";
}
@model SFMS.Entity.SalesOrderModel


<script src="~/Content/Js/AddInvoice/Addinvoice2.js"></script>
<script>
    var SalesOrderId = '@Model.SalesOrder.SalesOrderId';
    var CustomerId = '@ViewBag.CustomerId';
    var SalesOrderIdInt = '@Model.SalesOrder.Id';
    var BalanceDue = '@Model.SalesOrder.Amount';
  
    
</script>


<link href="~/Content/Css/Invoice/AddInvoice.css" rel="stylesheet" />


<button class="settings-invoice" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></button>

<div class="add-invoice-container">
    <div class="div-header clearfix">
        <div class="header-title">
            <span class="custom-title-span">

            </span>
        </div>
    </div>
    <div class="invoie_contents_scroll">
        <div class="invoice_info_container">
            <table class="table-responsive width-100p infotable">
                <thead>
                    <tr>
                        <th>Invoice Info</th>
                        <th class="Gap"></th>
                        <th>Payment Info</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="span-style">Customer</span>
                            <input type="text" class="form-control" id="CustomerList" />
                        </td>
                        <td></td>
                        <td>
                            <span class="span-style">Payment Date</span>
                            <input type="text" class="form-control" id="paymentdate" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="span-style">Order Date</span>
                            <input type="text" value="@Model.SalesOrder.OrderDate" class="form-control OrderDate" />
                        </td>
                        <td></td>
                        <td>
                            <span class="span-style">Payment Amount</span>
                            <input type="text" class="form-control" id="paymentamount" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="span-style">Delivery Date</span>
                            <input type="text" value="@Model.SalesOrder.DelivaryDate" class="form-control DeliveryDate" />
                        </td>
                        <td></td>
                        <td>
                            <span class="span-style">Note</span>
                            <input type="text" class="form-control" id="paymentnote" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group clearfix width-50p">
                                <span class="span-style">Warehouse Name</span>
                                @Html.DropDownList("warehouse", ViewBag.WarehouseList as List<SelectListItem>, new { @class = "form-control"})
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="width_100p">

                <div class="balance-info balance_info_for_desktop">
                    <div>
                        <span class="span-style balance-info-due">Total</span>
                        @*<span class="span-style balance-info-paid">Balance paid</span>*@
               
                    </div>
                    <span class="amount amount-span-style big-amount-top amount-big">@Model.SalesOrder.Amount </span>

                    @*<div class="balance-info-paid PaidDivClass">
                        <span>PAID</span>
                    </div>*@
                    <div class="balance-info-Cancel CancelDivClass">
                        <span></span>
                    </div>
                </div>


                <div class="invoice-info-left-70p top_pad_for_add_invoice invoice_billing_info">



                </div>
             
            </div>

        </div>

        <div class="div-body-contents">
            <div class="invoice-informations">
                <div class="add_invoice_table_style">
                    <table class="CustomerInvoiceTab" id="CustomerInvoiceTab">
                        <thead>
                            <tr>
                                <th class="thead-th-style1 tab-index">
                                    <span>

                                    </span>
                                </th>
                                <th class="thead-th-style1 tab-Product">
                                    <span>
                                        Product/Service
                                    </span>
                                </th>
                                <th class="thead-th-style2 tab-Desc">
                                    <span>
                                        Warehouse
                                    </span>
                                </th>
                                <th class="thead-th-style2 tab-Quantity">
                                    <span>
                                        QTY
                                    </span>
                                </th>
                                <th class="thead-th-style2 tab-Rate">
                                    <span>
                                        Rate
                                    </span>
                                </th>
                                <th class="thead-th-style2 tab-Amount">
                                    <span>
                                        Amount
                                    </span>
                                </th>
                                <th class="thead-th-style2 tab-Action">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SalesOrderDetailList.Count > 0)
                            {
                                foreach (var item in Model.SalesOrderDetailList)
                                {
                                    <tr data-id="@item.ProductId" class="HasItem">
                                        <td valign="top"></td>
                                        <td valign="top">
                                            <input type="text" class="ProductName" value="@item.ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                            <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                            <span class="spnProductName">@item.ProductName</span>
                                        </td>
                                        <td valign="top">
                                            <input type="text" onkeydown='OthersKeyDown(this,event)' value="@item.WarehouseId" class="txtProductDesc" />
                                            <span class="spnProductDesc">@item.WarehouseId</span>
                                        </td>
                                        <td valign="top">
                                            <input type="text" onkeydown='OthersKeyDown(this,event)' value="@item.Quantity" class="txtProductQuantity" />
                                            <span class="spnProductQuantity">@item.Quantity</span>
                                        </td>
                                        <td valign="top">
                                            <div class="C_S I_G">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">@Currency</div>
                                                </div>
                                                <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductRate" value="@item.Price" />
                                            </div>
                                            <span class="spnProductRate">@Currency@item.Price</span>
                                        </td>
                                        <td valign="top">
                                            <div class="C_S I_G">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">@Currency</div>
                                                </div>
                                                <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductAmount" value="@item.Total" />
                                            </div>
                                            <span class="spnProductAmount">@item.Total</span>
                                        </td>
                                        <td valign="top" class="tableActions">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td valign="top"></td>
                                    <td valign="top">
                                        <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                        <span class="spnProductName"></span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductDesc" />
                                        <span class="spnProductDesc"></span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantity" />
                                        <span class="spnProductQuantity"></span>
                                    </td>
                                    <td valign="top">
                                        <div class="C_S I_G">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@Currency</div>
                                            </div>
                                            <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductRate" />
                                        </div>

                                        <span class="spnProductRate"></span>
                                    </td>
                                    <td valign="top">
                                        <div class="C_S I_G">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@Currency</div>
                                            </div>
                                            <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductAmount" />
                                        </div>

                                        <span class="spnProductAmount"></span>
                                    </td>
                                    <td valign="top" class="tableActions">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top"></td>
                                    <td valign="top">
                                        <input type="text" class="ProductName" onkeydown="SearchKeyDown(this,event)" onkeyup="SearchKeyUp(this,event)" />
                                        <div class='tt-menu'><div class='tt-dataset tt-dataset-autocomplete'> </div> </div>
                                        <span class="spnProductName"></span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductDesc" />
                                        <span class="spnProductDesc"></span>
                                    </td>
                                    <td valign="top">
                                        <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductQuantity" />
                                        <span class="spnProductQuantity"></span>
                                    </td>
                                    <td valign="top">
                                        <div class="C_S I_G">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@Currency</div>
                                            </div>
                                            <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductRate" />
                                        </div>

                                        <span class="spnProductRate"></span>
                                    </td>
                                    <td valign="top">
                                        <div class="C_S I_G">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">@Currency</div>
                                            </div>
                                            <input type="text" onkeydown='OthersKeyDown(this,event)' class="txtProductAmount" />
                                        </div>

                                        <span class="spnProductAmount"></span>
                                    </td>
                                    <td valign="top" class="tableActions">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <div class="OtherInfos">

                    <div class="col-md-12">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="Discount discount-amount-div row margin-TB-5p" style="float:right;">
                                    <div class="col-xs-3">

                                        <span class="discount_text_custom">Discount(%) </span>
                                    </div>
                                    <div class="col-xs-6">

                                        <input type="text" id="discountAmount" value="@Model.SalesOrder.DiscountAmount" class="float-right form-control" />

                                    </div>

                                </div>
                            </div>
                            @if (Model.SalesOrder.Id > 0)
                            {
                                <div class="col-md-12">
                                    <div class="col-xs-3">

                                        <span class="span-style Subtotal_text_custom">Sub Total</span>
                                    </div>
                                    <div class="col-xs-6">

                                        <span>@Model.SalesOrder.SubTotal</span>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-xs-3">

                                        <span class="span-style Paid_text_custom">Paid</span>
                                    </div>
                                    <div class="col-xs-6">

                                        <span>@Model.SalesOrder.PaymentAmount</span>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-xs-3">

                                        <span class="span-style Total_text_custom">Total</span>
                                    </div>
                                    <div class="col-xs-6">

                                        <span>@Model.SalesOrder.Amount</span>

                                    </div>
                                </div>
                            }
                        </div>
                            </div>
            </div>
        </div>

    </div>
</div>
<div class="invoice-footer col-md-12">

    <div class="SaveaButtonsDiv">
        <button class="btnInv InvoiceSaveButton">Create</button>
    </div>
</div>
<div class="AddInvoiceLoader hidden">
    <div class='invoice-loader'><div class='uil-squares-css' style='transform:scale(1); margin:auto;'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>
</div>





