@model IEnumerable<SFMS.Entity.FuelBillVM>
@{
    Layout = null;
}

<script>

    var pagenumber = '@ViewBag.PageNumber';
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            console.log("hle");
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            NavigatePageListing(pagenumber, orderval);
        });

    })

</script>
<style>
    .vehicle-status-circle {
        height: 10px;
        width: 11px;
        background-color: #18cc6c;
        border-radius: 50%;
        display: inline-block;
        color: #18cc6c;
    }
</style>
<div class="opportunities_table_container">
    <table class="opportunities_table">
        <thead>
            <tr>
                <th>
                    <div>Vehicle</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/carname"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/carname"></i></div>
                </th>
                <th>
                    <div>Date</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/drivername"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/drivername"></i></div>
                </th>
                <th>
                    <div>Usage</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/milage"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/milage"></i></div>
                </th>
                <th>
                    <div>Volume</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/fuelammount"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/fuelammount"></i></div>
                </th>
                <th>
                    <div>Total Cost</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/unitprice"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/unitprice"></i></div>
                </th>
                <th>
                    <div>Fuel Economy</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/unitprice"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/unitprice"></i></div>
                </th>
                <th>
                    <div>Cost/mi</div>
                    <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/issuedate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/issuedate"></i></div>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                string unit = (item.FuelSystem == "Octane") || (item.FuelSystem == "Diesel") ? "Litere" : "m&#179;";
                double costperamount = Math.Round(item.TotalCost / item.Usage,2);
                double mpg = Math.Round(item.Usage / item.FuelAmount,2);
                <tr>
                    <td>
                        <a id="edit" class="cus-anchor" onclick="EditFuel(@item.Id)">@item.CarName</a><br />
                        <span class="text-green"><i class="material-icons md-lens vehicle-status-circle"></i></span> @item.Status <span class="text-green"><i class="material-icons md-lens vehicle-status-circle" style="background-color:#00467a"></i></span> @item.Type
                        <br /><span><b>Fuel System: </b>@item.FuelSystem</span>
                    </td>

                    <td>
                        <span>@item.IssueDate.ToShortDateString()</span><br>
                    </td>

                    <td>
                        <span><b>Usage: </b>@item.Usage</span><br>
                        <span><b>Current Reading:</b> @item.Odometer</span>
                    </td>

                    <td>
                        <span>@item.FuelAmount @Html.Raw(unit)</span><br>
                    </td>

                    <td>
                        <span>@item.TotalCost (@item.UnitPrice &#2547;/@Html.Raw(unit))</span><br>
                    </td>

                    <td>
                        <span>@mpg MPG</span><br>
                    </td>

                    <td>
                        <span>@costperamount &#2547;/mi</span><br>
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>
<div class="opportunities_pagination_container">
    <div class="opportunities_pagination_inner">
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
            </div>
            <div class="paginationRightButtondv" id="pagination">
                <button class="PaginationButtons disabledBtn" disabled>Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
            </div>
            <div class="paginationRightButtondv" id="pagination">
                <button disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
            </div>
            <div class="NavigatonButtonsDiv" id="pagination">
                <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
            </div>
            <div class="paginationRightButtondv" id="pagination">
                <button disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">Next</button>
            </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button disabled onclick="NavigatePageListing()">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                </div>
            }
            else if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))" id="pagination">@(ViewBag.PageNumber - 2)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))" id="pagination">@(ViewBag.PageNumber)</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button disabled onclick="NavigatePageListing()">Next</button>
                </div>
            }
            else
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">Previous</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                </div>
                <div class="NavigatonButtonsDiv" id="pagination">
                    <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                </div>
                <div class="paginationRightButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                </div>

            }
        }
    </div>
    @*<div class="area_zip_code_pagination_inner">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv">
                    <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                </div>
            }
        </div>*@
</div>








