@model IEnumerable<SFMS.Entity.Car>
@{
    Layout = null;
}

<script>

    var pagenumber = '@ViewBag.PageNumber';
    $(document).ready(function () {
        $(".icon_sort_timeclock").click(function () {
            console.log("hle");
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            NavigatePageListing(pagenumber, orderval);
        });

    })

</script>

        <div class="opportunities_table_container">
            <table class="opportunities_table">
                <thead>
                    <tr>
                        <th>
                            <div>Make</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/make"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/make"></i></div>
                        </th>
                        <th>
                            <div>Model</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/model"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/model"></i></div>
                        </th>
                        <th>
                            <div>Car Details</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/regid"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/regid"></i></div>
                        </th>
                        <th>
                            <div>Account</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/ligalowner"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/ligalowner"></i></div>
                        </th>
                        <th>
                            <div>Fuel System</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/fuelsystem"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/fuelsystem"></i></div>
                        </th>                        
                        <th>
                            <div>Created Date</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CreatedDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CreatedDate"></i></div>
                        </th>
                        <th>
                            <div>Status</div>
                            <div><i class="fa fa-angle-up icon_sort_timeclock" data-val="ascending/CreatedDate"></i> <i class="fa fa-angle-down icon_sort_timeclock" data-val="descending/CreatedDate"></i></div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a id="edit" class="cus-anchor" onclick="EditVehicle(@item.Id)"><span>[</span>@item.Make @item.Model<span>](</span>@item.RegId<span>)</span></a>

                        </td>

                        <td>
                            @if (!string.IsNullOrEmpty(item.Model))
                            {
                                <span>Model: </span>
                                <span>@item.Model</span>

                                <br /><span>Initial Odometer: </span>
                                <span>@item.InitialOdometer</span>

                                <br /><span>Initial Voliume: </span>
                                <span>@item.InitialVolume</span>

                            }
                            @if (!string.IsNullOrEmpty(item.Type) && item.Type != "-1")
                            {

                                <span>Type: </span>
                                <span>@item.Type</span><br>
                            }
                            @if (!string.IsNullOrEmpty(item.SubType) && item.SubType != "-1")
                            {
                                <span>Sub Type: </span>
                                <span>@item.SubType</span><br>
                            }
                            @if (!string.IsNullOrEmpty(item.Capacity) && item.Capacity != "-1")
                            {

                                <span>Capacity: </span>
                                <span>@item.Capacity</span>
                            }


                        </td>


                        <td>
                            <span>RegId: </span>
                            @if (!string.IsNullOrEmpty(item.RegId))
                            {

                                <span>@item.RegId</span>
                            }

                            @if (!string.IsNullOrEmpty(item.ChassisNo))
                            {
                                <br /><span>Chassis No: </span>
                                <span>@item.ChassisNo</span>
                            }
                            @if (!string.IsNullOrEmpty(item.CC))
                            {
                                <br /><span>CC: </span>
                                <span>@item.CC</span>
                            }
                        </td>

                        <td>
                            @if (!string.IsNullOrEmpty(item.Financier))
                            {
                                <br /><span>Financier: </span>
                                <span>@item.Financier</span>
                            }

                            @if (!string.IsNullOrEmpty(item.UserName))
                            {
                                <br /><span>User Name: </span>
                                <span>@item.UserName</span>
                            }
                            @if (!string.IsNullOrEmpty(item.ConcernName))
                            {
                                <br /><span>Concern Name: </span>
                                <span>@item.ConcernName</span>
                            }
                        </td>

                        <td>
                            @if (!string.IsNullOrEmpty(item.FuelSystem))
                            {

                                <span>@item.FuelSystem</span>
                            }

                        </td>

                        <td>
                            @if (item.CreatedDate != new DateTime())
                            {

                                <span>@item.CreatedDate</span>
                            }

                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Status))
                            {
                                <span class="no-wrap">
                                    @if (item.Status == "Active")
                                    {
                                        <span class="text-green"><i class="material-icons md-lens vehicle-status-circle"></i></span>
                                        @item.Status
                                    }
                                    else if (item.Status == "Inactive")
                                    {
                                        <span class="text-green"><i class="material-icons md-lens vehicle-status-circle" style="background-color: #0074d9"></i></span>
                                        @item.Status
                                    }
                                    else if (item.Status == "In Shop")
                                    {
                                        <span class="text-green"><i class="material-icons md-lens vehicle-status-circle" style="background-color:#ffa000"></i></span>
                                        @item.Status
                                    }
                                    else if (item.Status == "Out of service")
                                    {
                                        <span class="text-green"><i class="material-icons md-lens vehicle-status-circle" style="background-color: #ff5a4d"></i></span>
                                        @item.Status
                                    }
                                    else if (item.Status == "Sold")
                                    {
                                        <span class="text-green"><i class="material-icons md-lens vehicle-status-circle" style="background-color:#ff5a4d"></i></span>
                                        @item.Status
                                    }
                                </span>

                            }

                        </td>

                    </tr>
                    }
                </tbody>

            </table>
        </div>
       <div class="opportunities_pagination_container">
    <div class="opportunities_pagination_inner">
        @if (ViewBag.PageCount == 1)
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons disabledBtn">Previous</button>
            </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">1</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button class="PaginationButtons disabledBtn" disabled>Next</button>
                    </div>
        }
        else if (ViewBag.PageCount == 2)
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
            </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button disabled="@(ViewBag.PageNumber == 2 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 2 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
        }
        else if (ViewBag.PageCount == 3 || (ViewBag.PageNumber == 1 && ViewBag.PageCount == 3))
        {
            <div class="paginationMiddleButtondv" id="pagination">
                <button class="PaginationButtons @(ViewBag.PageNumber == 1 ? "disabledBtn" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 1 ? ViewBag.PageNumber - 1 : ""))">Previous</button>
            </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 1 ? "activeBtn" : "")" onclick="NavigatePageListing(1)">1</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 2 ? "activeBtn" : "")" onclick="NavigatePageListing(2)">2</button>
                    </div>
                    <div class="NavigatonButtonsDiv" id="pagination">
                        <button class="NavigationButton @(ViewBag.PageNumber == 3 ? "activeBtn" : "")" onclick="NavigatePageListing(3)">3</button>
                    </div>
                    <div class="paginationRightButtondv" id="pagination">
                        <button disabled="PaginationButtons @(ViewBag.PageNumber == 3 ? "disabled" : "")" onclick="NavigatePageListing(@(ViewBag.PageNumber != 3 ? ViewBag.PageNumber + 1 : ""))">Next</button>
                    </div>
        }
        else if (ViewBag.PageCount > 3)
        {
            if (ViewBag.PageNumber == 1)
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button disabled onclick="NavigatePageListing()">Previous</button>
                </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 2))">@(ViewBag.PageNumber + 2)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>
            }
            else if (ViewBag.PageNumber == ViewBag.PageCount)
            {
                <div class="paginationMiddleButtondv">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">Previous</button>
                </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 2))" id="pagination">@(ViewBag.PageNumber - 2)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))" id="pagination">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))" id="pagination">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button disabled onclick="NavigatePageListing()">Next</button>
                        </div>
            }
            else
            {
                <div class="paginationMiddleButtondv" id="pagination">
                    <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">Previous</button>
                </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber - 1))">@(ViewBag.PageNumber - 1)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton activeBtn" onclick="NavigatePageListing(@(ViewBag.PageNumber))">@(ViewBag.PageNumber)</button>
                        </div>
                        <div class="NavigatonButtonsDiv" id="pagination">
                            <button class="NavigationButton" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">@(ViewBag.PageNumber + 1)</button>
                        </div>
                        <div class="paginationRightButtondv" id="pagination">
                            <button class="PaginationButtons" onclick="NavigatePageListing(@(ViewBag.PageNumber + 1))">Next</button>
                        </div>

            }
        }
    </div>
    @*<div class="area_zip_code_pagination_inner">
            @if (ViewBag.PageCount > 0)
            {
                <div class="paginationtextdv">
                    <span>Showing item @ViewBag.CurrentNumber of @ViewBag.OutOfNumber</span>
                </div>
            }
        </div>*@
</div>




    


